@import "tailwindcss";

body {
    background-color: #F9FAFB;
}

h1 {
    @apply text-3xl font-bold;
    font-family: var(--font-roboto);
}

h2 {
    @apply text-2xl font-bold;
    font-family: var(--font-roboto);
}

h3 {
    @apply text-xl font-bold;
    font-family: var(--font-roboto);
}
